<form action="/course/add" method="post">
  <p>
    <label>Course Name</label><input type="text" value="" name="courseName"><br>
    <label>Course Duration</label><input type="text" value="" name="courseDuration"><br>
    <label>Course Fee</label><input type="text" value="" name="courseFee"><br>
    <button type="submit">Add Course</button>
  </p>
</form>